# Ignoring modules
node_modules/
/.pnp
/coverage
/build
css/
dist/
dist-ssr/
.vercel/

# Ignoring files
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local
*.log
.pnp.js
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*