@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  font-family: "Inter", "DM Sans", "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(223, 223, 223);
}

#dropdown-button {
  color: #242424;
}

h1,
h2,
h3,
h4,
h5,
h6,
mark,
.logo,
footer p {
  font-family: "Lustria", "DM Sans", "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 8192px) {
  ::-webkit-scrollbar {
    display: none;
  }
  body {
    opacity: 0;
  }
}

@media screen and (max-width: 3120px) {
  br::selection,
  img::selection {
    background: none;
  }
  .logo {
    text-decoration: none;
  }
  #scroll-indicator {
    top: 8rem;
  }
  header {
    width: fit-content;
    height: 8rem;
    z-index: 25;
    transition: all 200ms ease-in-out;
    background-color: transparent;
  }
  header p {
    color: #e4e4e4;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  header p:hover {
    color: #e1e1e1 !important;
    text-decoration: underline;
  }
  .header-transparent {
    transition: all 200ms ease-in-out;
    background-color: #242424;
  }
  header > section:nth-child(2) > a:hover {
    color: #dedede;
    text-decoration: underline;
  }
  body {
    background-image: linear-gradient(to top left, #242424, #404040);
    display: block;
    margin: 0;
    opacity: 1;
    overflow-x: hidden;
    padding: 0;
  }
  #dropdown-menu p {
    cursor: pointer;
    font-size: 1rem;
    transition: all 300ms ease-in-out;
  }
  #dropdown-menu p:hover {
    background-color: #e3e3e3;
    color: #404040 !important;
  }
  #scroll-to-top {
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    bottom: 4rem;
    right: 4rem;
  }
  #scroll-to-top:hover {
    background-color: #d9d9d9 !important;
  }
  #scroll-to-top img {
    width: 60px;
  }
  .splide .splide__pagination__page {
    display: none;
  }
  footer {
    padding: 4rem 0 2rem 0;
  }
  footer section:first-child {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 1160px) {
  #dropdown-button {
    display: flex !important;
    padding: 0.7rem;
    transition: all 300ms ease-in-out;
  }
  #dropdown-button:hover {
    background-color: #d3d3d3 !important;
  }
  #dropdown-menu {
    right: 8.5rem;
    top: 7rem;
  }
}

@media screen and (max-width: 1024px) {
  #scroll-indicator {
    top: 7rem;
  }
  header {
    height: 7rem;
  }
  #dropdown-menu {
    right: 7rem;
    top: 8rem;
  }
  footer {
    padding: 3rem 0;
  }
  footer section:first-child div:last-child {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 864px) {
  #scroll-indicator {
    top: 6rem;
  }
  header {
    height: 6rem;
  }
  #scroll-to-top {
    bottom: 3rem;
    right: 3rem;
  }
  #dropdown-menu {
    top: 6rem;
    right: 6rem;
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
  #dropdown-menu {
    right: 5.375rem;
  }
}

@media screen and (max-width: 640px) {
  #dropdown-menu {
    right: 4.25rem;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 1.25rem;
  }
  #dropdown-menu {
    right: 3.5rem;
  }
}

@media screen and (max-width: 360px) {
  .logo {
    font-size: 1rem;
  }
  #dropdown-menu {
    right: 2.5rem;
  }
}

@media screen and (max-width: 324px) {
  * {
    display: none;
  }
}