@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  font-family: "Inter", "DM Sans", "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 8192px) {
  ::-webkit-scrollbar {
    display: none;
  }
  body {
    opacity: 0;
  }
}

@media screen and (max-width: 3120px) {
  br::selection,
  img::selection {
    background: none;
  }
  a {
    color: #e4e4e4;
    text-decoration: none;
    transition: all 300ms ease-in-out;
  }
  header > section:nth-child(2) > a:hover {
    color: #dedede;
    text-decoration: underline;
  }
  body {
    background-image: linear-gradient(to top left, #242424, #404040);
    display: block;
    margin: 0;
    opacity: 1;
    overflow-x: hidden;
    padding: 0;
  }
  .logo {
    font-family: "Lustria", "DM Sans", "Open Sans", "Helvetica Neue", sans-serif;
  }
  #dropdown-menu a:hover {
    background-color: #e3e3e3;
  }
  #scroll-to-top {
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    bottom: 4rem;
    right: 4rem;
  }
  #scroll-to-top:hover {
    background-color: #d9d9d9 !important;
  }
  #scroll-to-top img {
    width: 60px;
  }
}

@media screen and (max-width: 2080px) {
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1800px) {
}

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1160px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 864px) {
  header > section:first-child {
    width: 40% !important;
  }
  header > section:last-child {
    width: 20% !important;
  }
  header > section:last-child a {
    display: none !important;
  }
  header > section:last-child i {
    cursor: pointer;
    display: flex !important;
    padding: 0.75rem;
    transition: all 300ms ease-in-out;
  }
  header > section:last-child i:hover {
    background-color: #d3d3d3 !important;
  }
  #dropdown-menu {
    right: 6rem;
  }
  #scroll-to-top {
    bottom: 3rem;
    right: 3rem;
  }
}

@media screen and (max-width: 768px) {
  #dropdown-menu {
    right: 5.375rem;
  }
}

@media screen and (max-width: 640px) {
  #dropdown-menu {
    right: 4.25rem;
  }
}

@media screen and (max-width: 480px) {
  #dropdown-menu {
    right: 3.5rem;
  }
}

@media screen and (max-width: 360px) {
  #dropdown-menu {
    right: 2.5rem;
  }
}

@media screen and (max-width: 324px) {
  * {
    display: none;
  }
}