@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", "DM Sans", "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 8192px) {
  ::-webkit-scrollbar {
    display: none;
  }
  body {
    opacity: 0;
  }
}

@media screen and (max-width: 3120px) {
  a {
    color: #e4e4e4;
    text-decoration: none;
    transition: all 300ms ease-in-out;
  }
  header,
  body {
    background-image: linear-gradient(to left, #242424, #323232);
  }
  header > section:nth-child(2) > a:hover {
    color: #dedede;
    text-decoration: underline;
  }
  header > section:nth-child(2) > a:hover:not(:last-child) {
    margin-right: 5rem;
  }
  body {
    opacity: 1;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: block;
  }
}

@media screen and (max-width: 3120px) {
}

@media screen and (max-width: 2080px) {
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1160px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 864px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 324px) {
  * {
    display: none;
  }
}