@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "DM Sans", "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 8192px) {
  ::-webkit-scrollbar,
  body {
    display: none;
  }
}

@media screen and (max-width: 3120px) {
  body {
    display: block;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 2080px) {
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1160px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 864px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 324px) {
  * {
    display: none;
  }
}