@media screen and (max-width: 3120px) {
  html {
    scroll-padding: 10rem;
  }
  .gradial-blur,
  .gradial-blur-2,
  .gradial-blur-3,
  .gradial-blur-4 {
    height: 10rem;
    width: 10rem;
    filter: blur(9rem);
    z-index: 0;
  }
  .papua h2,
  .hero h1,
  .hero h3,
  .hero-2 h3,
  .masyarakat h3 {
    font-family: "Lustria", "DM Sans", "Open Sans", "Helvetica Neue", sans-serif;
  }
  .papua {
    margin: 8rem 0;
  }
  .hero img {
    border-radius: 76% 24% 23% 77% / 51% 39% 61% 49%;
    box-shadow: 0 0 4rem #bcbcbc50;
  }
  .hero-2 img {
    border-radius: 35% 65% 75% 25% / 25% 45% 55% 75%;
    box-shadow: 0 0 4rem #bcbcbc50;
  }
  .masyarakat {
    margin: 3rem 0;
  }
  .masyarakat > div:last-child {
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
  .masyarakat > div:last-child > div {
    width: 90%;
  }
  .masyarakat > div:last-child > div > div {
    background-color: #242424;
    padding: 1.5rem 0 0.75rem 0;
  }
  .masyarakat p {
    width: 80%;
    text-align: justify;
  }
  .splide__1 {
    height: 30rem;
  }
  .splide__1 .splide__list .splide__slide > div:not(div:nth-child(3)) {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carousel h3,
  .carousel h5,
  .carousel p {
    cursor: default;
  }
}

@media screen and (max-width: 1280px) {
  .masyarakat {
    margin: 3rem 0 1rem 0;
  }
  .masyarakat > div:last-child {
    grid-template-columns: 1fr;
  }
  .masyarakat > div:last-child > div {
    margin-bottom: 2rem;
  }
  .masyarakat p {
    font-weight: 500;
    text-align: center;
  }
}

@media screen and (max-width: 1160px) {
  .papua {
    margin: 7rem 0 5rem 0;
    flex-direction: column-reverse;
  }
  .papua > div {
    width: 100% !important;
  }
  .papua h2,
  .hero h1,
  .hero h3,
  .hero-2 h3 {
    text-align: center;
  }
  .papua img {
    margin: auto auto 5rem auto;
    width: 80% !important;
  }
  .hero > div {
    flex-direction: column-reverse;
  }
  .hero-2 {
    flex-direction: column;
  }
  .hero > div > div,
  .hero-2 > div {
    width: 100% !important;
  }
  .hero > div > div:last-child,
  .hero-2 > div:first-child {
    justify-content: center !important;
    margin-bottom: 3rem;
  }
  .hero img,
  .hero-2 img {
    width: 100% !important;
  }
}

@media screen and (max-width: 864px) {
  .hero,
  .hero-2 {
    width: 85% !important;
  }
}