@media screen and (max-width: 3120px) {
  .hero h2,
  .hero h3 {
    font-family: "Lustria", "DM Sans", "Open Sans", "Helvetica Neue", sans-serif;
  }
  .gradial-blur {
    height: 10rem;
    width: 10rem;
    filter: blur(9rem);
    z-index: 0;
    background-color: #1fddff;
  }
}