@media screen and (max-width: 3120px) {
  .logo,
  header,
  .hero h1 {
    color: white;
    font-weight: bolder;
  }
  header a {
    text-decoration: none;
  }
  .hero {
    height: 40rem;
    width: 100%;
    background: url("../../public/penjajahan-papua.jpg") center no-repeat;
    background-size: cover;
  }
  .hero > div {
    background-image: linear-gradient(to left, #121212, #363636);
    height: 40rem;
  }
  .gradial-blur,
  .gradial-blur-2,
  .gradial-blur-3,
  .gradial-blur-4 {
    height: 10rem;
    width: 10rem;
    filter: blur(7.5rem);
    z-index: 0;
  }
  .gradial-blur-2 {
    top: 100rem;
  }
  .gradial-blur-3 {
    top: 150rem;
  }
  .gradial-blur-4 {
    top: 200rem;
  }
  article p {
    text-align: justify;
  }
}

@media screen and (max-width: 1160px) {
  article:not(article:nth-child(2)) {
    margin-top: 4rem !important;
  }
  article > div:last-child {
    margin-top: 2rem;
  }
  article > div:first-child,
  article > div:last-child {
    width: 100% !important;
  }
  article:nth-child(even) > div:first-child,
  article:nth-child(odd) > div:last-child {
    margin-right: 0 !important;
  }
  article:nth-child(odd) > div:first-child,
  article:nth-child(even) > div:last-child {
    margin-left: 0 !important;
  }
}