@media screen and (max-width: 3120px) {
  .logo,
  header a {
    font-weight: bolder;
  }
  header a {
    text-decoration: none;
  }
  .hero {
    height: 40rem;
    width: 100%;
    background: url("../../public/penjajahan-papua.jpg") center no-repeat;
    background-size: cover;
  }
  .hero > div {
    background-image: linear-gradient(to left, #121212, #363636);
    height: 40rem;
  }
}

@media screen and (max-width: 1160px) {
  article:not(article:nth-child(2)) {
    margin-top: 4rem !important;
  }
  article > div:last-child {
    margin-top: 2rem;
  }
  article > div:first-child,
  article > div:last-child {
    width: 100% !important;
  }
  article:nth-child(even) > div:first-child,
  article:nth-child(odd) > div:last-child {
    margin-right: 0 !important;
  }
  article:nth-child(odd) > div:first-child,
  article:nth-child(even) > div:last-child {
    margin-left: 0 !important;
  }
}